body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(to right, #12796b, #16215f);
}

.container {
  padding-top: 200px;
}

.list {
  min-height: 150px;
  border: 1px solid black;
  background-color: azure;
}

ul {
  padding: 0;
}

.title {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(78, 175, 78);
  padding-left: 40px;
  padding-right: 40px;
  color: rgb(252, 252, 252);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#submit {
  border: 2px solid rgb(78, 175, 78);
  width: 282px;
  padding: 6px;
}

#button {
  border: 2px solid rgb(78, 175, 78);
  background-color: rgb(252, 252, 252);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(78, 175, 78);
  margin-top: 7px;
  padding: 5px;
  font-weight: bold;
}

#button:hover {
  cursor: pointer;
}

ul > li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(243, 175, 47);
  font-weight: bold;
  padding: 4px;
  list-style-type: none;
}

.btn-remove {
  background-color: rgb(226, 27, 27);
  color: papayawhip;
  border: solid 2px rgb(226, 27, 27);
  padding: 5px;
  margin: 16px 16px 16px 0;
}

.btn-remove:hover {
  cursor: pointer;
}
